.popupContainer{
    display: flex;
    gap: 12px;

    img{
        width: 45px;
        height: 28px;
        object-fit: cover;
        border-radius: 5px;
    }

    .textContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}